# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build and binary files
*.out
*.elf
*.hex
*.bin
*.map
*.o
*.a
*.so
*.d


# Rust (if you use Rust later)
target/


# Logs
*.log

# Debug
*.gdb
*.dbg

# Misc
*.swp
*.DS_Store
